body {
  font-family: "M+ 1m", sans-serif;
  font-weight: bold;
  color: #707070;
  width: 100%;
  display: grid;
  grid-template-rows: 217px auto 150px;
}
@media screen and (min-width: 1280px) {
  body {
    grid-template-columns: 81% 19%;
  }
}
body button, body input, body select, body textarea {
  background-color: initial;
  border-style: solid;
  color: initial;
}
body li {
  list-style: none;
}

.l-header {
  height: 217px;
  width: 100%;
  background-color: #FFF7EF;
  position: relative;
}
.l-header a {
  text-decoration: none;
  color: #707070;
  font-family: "Robot", sans-serif;
}
@media screen and (min-width: 600px) {
  .l-header {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

body {
  grid-column: 1/3;
  grid-row: 1/4;
  background-color: #FFFDFA;
}
body.active {
  overflow: hidden;
}
body.active::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.8s;
}

.l-main {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media screen and (min-width: 1280px) {
  .l-footer {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.l-sidebar {
  overflow-x: hidden;
  background-color: #F2EDE9;
  font-family: "M+PLUS+1";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 1000;
  overflow: scroll;
}
.l-sidebar.active {
  transition: all 0.5s;
  right: -10%;
}
@media screen and (min-width: 600px) {
  .l-sidebar.active {
    right: -60%;
  }
}
@media screen and (min-width: 1280px) {
  .l-sidebar {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
    position: relative;
    left: initial;
    top: initial;
    right: initial;
  }
}

.c-main-visual {
  background-image: url(/img/dummy.png);
  position: relative;
  height: 285px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
}
@media screen and (min-width: 1280px) {
  .c-main-visual {
    height: 530px;
  }
}

.p-branch-menu__takeout {
  position: relative;
  background-image: url(/img/takeout.png);
  width: calc(100% - 40px);
  min-height: 100vh;
  background-size: cover;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  .p-branch-menu__takeout {
    margin: 40px;
  }
}
.p-branch-menu__eatin {
  position: relative;
  background-image: url(/img/eatin.png);
  width: calc(100% - 40px);
  min-height: 100vh;
  background-size: cover;
  margin: 20px 20px 40px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  .p-branch-menu__eatin {
    margin: 40px 40px 40px 0;
  }
}

.p-map {
  background-image: url(/img/map.png);
  position: relative;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
}
.p-map::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 600px) {
  .p-map::after {
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .p-map::after {
    width: 60%;
  }
}

.p-footer {
  background-image: url(/img/footer.png);
  position: relative;
  height: 150px;
  width: 100%;
  background-size: cover;
  padding: 40px 0 30px 0;
  text-align: center;
  font-family: "M+PLUS+1";
}
.p-footer h3 {
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  padding-bottom: 34px;
}
.p-footer p {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
}

/*-------------------------
archieve
--------------------------*/
.p-archive-visual {
  position: relative;
}
.p-archive-visual > img {
  height: 285px;
  width: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
@media screen and (min-width: 600px) {
  .p-archive-visual > img {
    height: 283px;
  }
}
@media screen and (min-width: 1280px) {
  .p-archive-visual > img {
    height: 239px;
  }
}

.p-card__content > img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 600px) {
  .p-card__content > img {
    width: 50%;
    height: 355px;
  }
}
@media screen and (min-width: 1280px) {
  .p-card__content > img {
    width: 50%;
    height: 471px;
  }
}

/*-------------------------
single
--------------------------*/
.p-single-visual {
  position: relative;
}
.p-single-visual > img {
  height: 225px;
  width: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .p-single-visual > img {
    height: 500px;
  }
}

.c-card__content--top > img {
  width: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .c-card__content--top > img {
    margin-bottom: 60px;
  }
}

.p-card__content--small > li > img {
  width: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card--first > li > img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.p-card--second > li > img {
  grid-column: 2/3;
  grid-row: 1/2;
}

.p-card__content--medium > img {
  width: calc(100% - 68px);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  margin: 0 34px 30px 34px;
}
@media screen and (min-width: 600px) {
  .p-card__content--medium > img {
    width: calc(100% - 100px);
    margin: 0 50px 230px;
  }
}
@media screen and (min-width: 1280px) {
  .p-card__content--medium > img {
    width: 50%;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 600px) {
  .c-card__content--large {
    display: flex;
    flex-wrap: wrap;
  }
}
.c-card__content--large > img {
  width: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .c-card__content--large > img {
    width: calc(50% - 16px);
    margin: 10px 8px;
  }
}
@media screen and (min-width: 1280px) {
  .c-card__content--large > img {
    width: calc(33.3% - 20px);
    margin: 10px;
  }
}

@media screen and (min-width: 600px) {
  .c-large__first {
    margin-right: 16px;
  }
}

.c-btn--sidebar {
  position: absolute;
  font-size: 20px;
  top: 14px;
  right: 16px;
  color: #707070;
  font-family: "Robot", sans-serif;
  font-weight: bold;
  border: none;
}
@media screen and (min-width: 600px) {
  .c-btn--sidebar {
    font-size: 34px;
    top: 18px;
    right: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .c-btn--sidebar {
    display: none;
  }
}
.c-btn--close {
  display: none;
}
.c-btn--close.active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 25px;
  font-size: 70px;
  font-weight: normal;
  color: #707070;
  border: none;
}
@media screen and (min-width: 1280px) {
  .c-btn--close.active {
    display: none;
  }
}

/*-------------------------
archive
--------------------------*/
.c-card__content--btn {
  background-color: #fff;
  color: #707070;
  font-size: 17px;
  border: none;
  margin: 40px 0 44px;
  padding: 10px 42px;
  border-radius: 30px;
}
@media screen and (min-width: 600px) {
  .c-card__content--btn {
    bottom: -40px;
  }
}
@media screen and (min-width: 1280px) {
  .c-card__content--btn {
    margin-top: 60px;
    padding: 27px 106px;
    border-radius: 40px;
  }
}

/*-------------------------
single
--------------------------*/
.c-single__btn {
  width: 100%;
  background-color: #F2EDE9;
  border-radius: 20px;
  padding: 30px 143px;
  margin-bottom: 30px;
  border: solid 1px #707070;
}
@media screen and (min-width: 600px) {
  .c-single__btn {
    margin-bottom: 60px;
  }
}
.c-single__btn > a {
  text-decoration: none;
  color: #3C2A10;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0 30px;
}
@media screen and (min-width: 600px) {
  table {
    margin: 40px 0 60px;
  }
}

table th, table td {
  border: solid 1px #707070;
}

table td {
  padding: 28px 0 28px 30px;
  font-weight: normal;
}

.p-table {
  width: 60%;
}

.p-bm__items {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  height: auto;
  background-size: contain;
  padding: 7px 10px 15px 10px;
  margin: 0 15px 15px 15px;
  align-items: flex-end;
  margin-top: auto;
}
@media screen and (min-width: 600px) {
  .p-bm__items {
    padding: 7px 15px 15px 15px;
  }
}
@media screen and (min-width: 1280px) {
  .p-bm__items {
    padding: 12px 20px 20px 20px;
  }
}
.p-bm__itemssecond {
  margin-top: auto;
}

.c-text__sidebar--submenu {
  position: absolute;
  top: 286px;
  right: 61px;
}
.c-text--items {
  padding: 40px 0;
  padding-left: 60px;
  font-family: "M+PLUS+1";
  font-size: 20px;
  font-weight: normal;
  line-height: 2.5;
  left: 10%;
}
@media screen and (min-width: 600px) {
  .c-text--items {
    left: 55%;
  }
}
.c-text--branch-menu {
  font-size: 16px;
  font-weight: normal;
}
.c-text--map {
  position: relative;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
  line-height: 2.5;
  height: 100%;
  z-index: 3;
}
@media screen and (min-width: 1280px) {
  .c-text--map {
    font-size: 16px;
    padding: 55px 120px;
  }
}

/*-------------------------
archive
--------------------------*/
.c-archive-visual__text {
  position: absolute;
  top: 0;
  padding: 160px 0 0 35px;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .c-archive-visual__text {
    position: relative;
    padding: 0 0 0 20px;
  }
}

.c-subheading__text {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #3C2A10;
}
@media screen and (min-width: 600px) {
  .c-subheading__text {
    padding-bottom: 17px;
  }
}

.c-card__content--text {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 73px 0 17px;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .c-card__content--text {
    padding: 10px 59px 0 35px;
  }
}
@media screen and (min-width: 1280px) {
  .c-card__content--text {
    padding: 17px 100px 0 50px;
  }
}

/*-------------------------
single
--------------------------*/
.c-subheading__text--single {
  font-size: 16px;
  padding-bottom: 34px;
  font-weight: normal;
}
@media screen and (min-width: 600px) {
  .c-subheading__text--single {
    padding-bottom: 0;
  }
}

.c-quotation__text {
  font-weight: normal;
  padding: 30px 18px;
}
@media screen and (min-width: 600px) {
  .c-quotation__text {
    padding: 50px 55px 60px;
  }
}
@media screen and (min-width: 1280px) {
  .c-quotation__text {
    padding: 50px 50px 60px;
  }
}
.c-quotation__text--cite {
  font-weight: normal;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .c-quotation__text--cite {
    padding: 0 0 60px 55px;
  }
}
@media screen and (min-width: 1280px) {
  .c-quotation__text--cite {
    padding: 0 0 50px 50px;
  }
}
.c-quotation__text > a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: initial;
}

.c-card__content__text {
  font-weight: normal;
  text-indent: 1rem;
}

.p-card--first > li > p {
  grid-column: 2/3;
  grid-row: 1/3;
  padding-left: 10px;
}

.p-card--second > li > p {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-right: 10px;
}

.c-single__text--bold {
  padding-bottom: 175px;
}
@media screen and (min-width: 600px) {
  .c-single__text--bold {
    padding-bottom: 230px;
  }
}

.c-header-title {
  font-size: 40px;
  color: #707070;
  text-align: center;
  padding-top: 40px;
  text-decoration: none;
}
@media screen and (min-width: 1280px) {
  .c-header-title {
    padding: 67px 0 0 45px;
    font-size: 64px;
    text-align: left;
  }
}

.c-title--sidebar {
  position: absolute;
  display: none;
}
@media screen and (min-width: 1280px) {
  .c-title--sidebar {
    display: block;
    font-size: 34px;
    padding: 82px 0 0 46px;
  }
}
.c-title--items {
  font-size: 24px;
  padding-left: 46px;
  left: 10%;
}
@media screen and (min-width: 600px) {
  .c-title--items {
    left: 55%;
  }
}
.c-title--main-visual {
  font-size: 36px;
  color: #fff;
  position: absolute;
  left: 25px;
  line-height: 285px;
}
@media screen and (min-width: 1280px) {
  .c-title--main-visual {
    font-size: 40px;
    line-height: 530px;
    left: 86px;
  }
}
.c-title--underline {
  position: relative;
  top: 20px;
  left: 15px;
  font-size: 41px;
  color: #EAEAEA;
  font-family: "Robot", sans-serif;
  margin-bottom: 100px;
}
@media screen and (min-width: 1280px) {
  .c-title--underline {
    font-size: 80px;
  }
}
.c-title--underline::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 70px;
  left: 10px;
  width: 40px;
  height: 5px;
  background-color: #fff;
}
@media screen and (min-width: 1280px) {
  .c-title--underline::before {
    width: 63px;
    height: 3px;
    top: 140px;
  }
}
.c-title--branch-menu {
  font-size: 22px;
  padding: 7px 0 3px 10px;
}
@media screen and (min-width: 600px) {
  .c-title--branch-menu {
    font-size: 24px;
  }
}
.c-title--underline__map {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 30px;
  padding: 40px 0 20px 42px;
}
@media screen and (min-width: 1280px) {
  .c-title--underline__map {
    font-size: 36px;
    padding: 83px 0 55px 119px;
  }
}
.c-title--underline__map::before {
  display: inline-block;
  position: absolute;
  content: "";
  margin: 70px 0;
  width: 75px;
  height: 2px;
  background-color: #fff;
}
@media screen and (min-width: 1280px) {
  .c-title--underline__map::before {
    margin: 100px 0;
  }
}

/*-------------------------
archive
--------------------------*/
.c-archive-visual__title {
  position: absolute;
  font-family: "Robot", sans-serif;
  top: 0;
  font-size: 36px;
  color: #fff;
  padding: 105px 0 7px 35px;
}
@media screen and (min-width: 600px) {
  .c-archive-visual__title {
    position: relative;
    font-size: 60px;
    padding: 0;
  }
}

.c-subheading__title {
  font-size: 28px;
  padding: 30px 0;
  color: #3C2A10;
}
@media screen and (min-width: 600px) {
  .c-subheading__title {
    font-size: 36px;
    padding: 36px 0 25px 0;
  }
}

.c-card__content--title {
  font-size: 20px;
  padding: 32px 0 24px 17px;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .c-card__content--title {
    padding: 30px 0 0 35px;
  }
}
@media screen and (min-width: 1280px) {
  .c-card__content--title {
    font-size: 30px;
    padding: 53px 0 0 45px;
  }
}

.c-card__content--subtitle {
  font-size: 16px;
  color: #fff;
  padding-left: 17px;
}
@media screen and (min-width: 600px) {
  .c-card__content--subtitle {
    padding: 24px 0 0 35px;
  }
}
@media screen and (min-width: 1280px) {
  .c-card__content--subtitle {
    font-size: 24px;
    padding: 47px 0 0 45px;
  }
}

/*-------------------------
single
--------------------------*/
.c-single-visual__title {
  position: absolute;
  font-size: 36px;
  top: 40%;
  padding-left: 20px;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .c-single-visual__title {
    font-size: 60px;
  }
}
@media screen and (min-width: 600px) {
  .c-single-visual__title {
    padding-left: 86px;
  }
}

.p-subheading > h2 {
  font-size: 28px;
  padding: 30px 0;
}
@media screen and (min-width: 600px) {
  .p-subheading > h2 {
    font-size: 36px;
    padding: 60px 0;
  }
}
.p-subheading > h3 {
  font-size: 24px;
  padding: 34px 0 31px;
}
@media screen and (min-width: 600px) {
  .p-subheading > h3 {
    font-size: 28px;
    padding: 60px 0;
  }
}
.p-subheading > h4 {
  font-size: 20px;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-subheading > h4 {
    padding-bottom: 60px;
  }
}
.p-subheading > h5, .p-subheading > h6 {
  font-size: 20px;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-subheading > h5, .p-subheading > h6 {
    padding-bottom: 60px;
  }
}

.c-page-visual__title {
  position: relative;
  text-align: center;
  top: -140px;
  padding: 0;
}
@media screen and (min-width: 600px) {
  .c-page-visual__title {
    position: absolute;
    font-size: 60px;
    top: 40%;
    padding-left: 86px;
  }
}

.c-archive-visual__list {
  display: flex;
}
@media screen and (min-width: 600px) {
  .c-archive-visual__list {
    position: absolute;
    top: 100px;
    left: 86px;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .c-archive-visual__list {
    top: 80px;
  }
}

/*-------------------------
single
--------------------------*/
.p-order-list {
  font-weight: normal;
}

.p-normal-list {
  font-weight: normal;
}

.c-order-list--first {
  padding: 20px 0 10px;
}
@media screen and (min-width: 600px) {
  .c-order-list--first {
    padding-top: 50px;
  }
}
.c-order-list--second {
  padding: 10px 0;
  text-indent: 1rem;
}
.c-order-list--third {
  padding: 10px 0 30px;
}

.c-normal-list--fourth {
  padding: 30px 0 10px;
}
.c-normal-list--fifth {
  padding: 10px 0;
  text-indent: 1rem;
}
.c-normal-list--sixth {
  padding: 10px 0;
}
@media screen and (min-width: 600px) {
  .c-normal-list--sixth {
    padding-bottom: 40px;
  }
}

.p-search {
  font-size: 16px;
  text-align: center;
  margin: 38px 0;
}
.p-search__box {
  position: relative;
  border-radius: 8px;
  width: 230px;
  height: 46px;
  border-width: thin;
  margin-right: 12px;
  background: #fff url(/img/search.png) no-repeat center left 10px;
  padding-left: 50px;
}
@media screen and (min-width: 600px) {
  .p-search__box {
    width: 396px;
  }
}
@media screen and (min-width: 1280px) {
  .p-search__box {
    position: absolute;
    top: 86px;
    right: 180px;
  }
}
.p-search__submit {
  width: 78px;
  height: 46px;
  border-radius: 8px;
  background-color: #F2EDE9;
  color: #707070;
  border-width: thin;
}
@media screen and (min-width: 600px) {
  .p-search__submit {
    width: 136px;
  }
}
@media screen and (min-width: 1280px) {
  .p-search__submit {
    position: absolute;
    top: 86px;
    right: 31px;
  }
}

.p-sidebar--container--details {
  padding-top: 212px;
}

.p-map__container {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .p-map__container {
    width: 60%;
  }
}

@media screen and (min-width: 600px) {
  .p-branch-menu__lists {
    display: flex;
  }
}
.p-branch-menu__takeout {
  display: flex;
  flex-flow: column;
}
.p-branch-menu__eatin {
  display: flex;
  flex-flow: column;
}
.p-branch-menu--container {
  margin-top: auto;
  color: #3C2A10;
}

/*-------------------------
archive
--------------------------*/
.p-card__content {
  position: relative;
  background-color: #3C2B1C;
  height: 100%;
  width: 100%;
  margin: 20px 0;
}
@media screen and (min-width: 600px) {
  .p-card__content {
    display: flex;
    height: 355px;
  }
}
@media screen and (min-width: 1280px) {
  .p-card__content {
    height: 471px;
  }
}
.p-card__content--details {
  text-align: center;
}

/*-------------------------
single
--------------------------*/
.p-card__content--small {
  display: grid;
  width: 100%;
}
.p-card__content--medium {
  text-align: center;
}

.p-card--first {
  grid-template-columns: 40% 60%;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-card--first {
    padding-bottom: 120px;
  }
}

.p-card--second {
  grid-template-columns: 60% 40%;
  padding-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-card--second {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 600px) {
  .p-pagination--sp {
    display: none;
  }
}
.p-pagination--sp__lists {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: normal;
  padding: 40px 20px 30px 20px;
}
.p-pagination--sp__list > a {
  color: #707070;
  text-decoration: none;
}

.p-pagination {
  display: none;
  font-family: "Robot", sans-serif;
}
.p-pagination__list--prev::before {
  content: url(/img/pagination_prev.png);
  font-size: 30px;
  width: 17px;
  height: 17px;
  font-weight: lighter;
  margin-left: 15px;
  margin-right: 3px;
}
@media screen and (min-width: 1280px) {
  .p-pagination__list--prev::before {
    margin-right: 0;
  }
}
.p-pagination__list--next::after {
  content: url(/img/pagination_next.png);
  font-size: 30px;
  width: 17px;
  height: 17px;
  font-weight: lighter;
  margin-left: 15px;
}
@media screen and (min-width: 600px) {
  .p-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 85px 0 30px;
    line-height: 35px;
  }
  .p-pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-pagination__list--items {
    border: solid 1px;
    font-size: 14px;
    margin-left: 12px;
  }
}
@media screen and (min-width: 600px) and (min-width: 1280px) {
  .p-pagination__list--items {
    font-size: 16px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 600px) {
  .p-pagination__list--items > a {
    padding: 12px;
    color: #707070;
    text-decoration: none;
  }
}
@media screen and (min-width: 600px) and (min-width: 1280px) {
  .p-pagination__list--items > a {
    padding: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .p-pagination {
    padding: 130px 0 65px;
  }
}

.p-archive__wrapper {
  padding: 0 20px;
}
@media screen and (min-width: 600px) {
  .p-archive__wrapper {
    padding: 0 45px;
  }
}
@media screen and (min-width: 1280px) {
  .p-archive__wrapper {
    padding: 0 100px;
  }
}

.p-single__wrapper {
  padding: 0 20px;
  color: #3C2A10;
}
@media screen and (min-width: 600px) {
  .p-single__wrapper {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1280px) {
  .p-single__wrapper {
    padding: 0 100px;
  }
}

.p-quotation {
  background-color: #F5F5F5;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-quotation {
    margin-bottom: 60px;
  }
}

.p-preformatted {
  width: 100%;
  background-color: #F5F5F5;
  margin: 20px 0 30px;
  padding: 40px;
}

/*-------------------------
foundation
--------------------------*/
/*-------------------------
layout
-------------------------*/
/*---------------------------
component
---------------------------*/
/*----------------------------
project
----------------------------*/
/*----------------------------
utility
----------------------------*/
/*# sourceMappingURL=style.css.map */