@use "../../foundation/mixin";

.c-main-visual{
    background-image: url(/img/dummy.png);
    position: relative;
    height: 285px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    @include mixin.pc{
        height: 530px;
    }
}

.p-branch-menu{
    &__takeout{
        position: relative;
        background-image: url(/img/takeout.png);
        width: calc(100% - 40px);
        min-height: 100vh;
        background-size: cover;
        margin: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        @include mixin.tab{
            margin: 40px;
        }
    }
    &__eatin{
        position: relative;
        background-image: url(/img/eatin.png);
        width: calc(100% - 40px);
        min-height: 100vh;
        background-size: cover;
        margin: 20px 20px 40px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        @include mixin.tab{
            margin: 40px 40px 40px 0;
        }
    }
}

.p-map{
    background-image: url(/img/map.png);
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: top; //mapの下の余白を除去
    &::after{
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background-color: rgba(0, 0, 0, 0.4);
        @include mixin.tab{
            height: 100%;
        }
        @include mixin.pc{
            width: 60%;
        }
    }
}

.p-footer{
    background-image: url(/img/footer.png);
    position: relative;
    height: 150px;
    width: 100%;
    background-size: cover;
    padding: 40px 0 30px 0;
    text-align: center;
    font-family: 'M+PLUS+1';

    h3{
        font-size: 20px;
        font-weight: normal;
        color: #fff;
        padding-bottom: 34px;
    }
    p{
      font-size: 14px;
      color: #fff;
      font-weight: normal;
    }
}


/*-------------------------
archieve
--------------------------*/

.p-archive-visual{
    position: relative;
    > img{
        height: 285px;
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: left;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        @include mixin.tab{
            height: 283px;
        }
        @include mixin.pc{
            height: 239px;
        }
    }
}

.p-card__content > img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: left center;
    background-repeat: no-repeat;
    @include mixin.tab{
        width: 50%; 
        height: 355px;
    }
    @include mixin.pc{
        width: 50%;
        height: 471px;
    }
}
