@use "../../foundation/mixin";

.c-btn{
    &--sidebar{
    position: absolute;
    font-size: 20px;
    top: 14px;
    right: 16px;
    color: #707070;
    font-weight: bold;
    border: none;
    @include mixin.tab{
        font-size: 34px;
        top: 18px;
        right: 26px;
    }
    @include mixin.pc{
        display: none;
    }
    }
    &--close{
        display: none;
        &.active{
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            padding: 0 25px;
            font-size: 70px;
            font-weight: normal;
            color: #707070;
            border: none;
            @include mixin.pc{
                display: none;
            }
        }
    }
}

/*-------------------------
archive
--------------------------*/

.c-card__content--btn{
    background-color: #fff;
    color: #707070;
    font-size: 17px;
    border: none;
    margin: 40px 0 44px;
    padding: 10px 42px;
    border-radius: 30px;
    @include mixin.tab{
        bottom: -40px;
    }
    @include mixin.pc{
        margin-top: 60px;
        padding: 27px 106px;
        border-radius: 40px;
    }
}

/*-------------------------
single
--------------------------*/

.c-single__btn{
    width: 100%;
    background-color: #F2EDE9;
    border-radius: 20px;
    padding: 30px 143px;
    margin-bottom: 30px;
    border: solid 1px #707070;
    @include mixin.tab{
        margin-bottom: 60px;
    }
    > a{
        text-decoration: none;
        color: #3C2A10;
        font-size: 16px;    
    }
}