@use "../../foundation/mixin";

.p-bm__items{
    position: relative;
    background-color: rgba($color: #fff, $alpha: 0.8);
    height: auto;
    background-size: contain;
    padding: 7px 10px 15px 10px;
    margin: 0 15px 15px 15px;
    align-items: flex-end;
    margin-top: auto;
    @include mixin.tab{
        padding: 7px 15px 15px 15px;
    }
    @include mixin.pc{
        padding: 12px 20px 20px 20px;
    }
    &second{
        margin-top: auto;
    }
}