@use "../../foundation/mixin";

.c-text{
    &__sidebar--submenu{
        position: absolute;
        top: 286px;
        right: 61px;
    }

    &--items{
        padding: 40px 0;
        padding-left: 66px;
        font-family: 'M+PLUS+1';
        font-size: 20px;
        font-weight: normal;
        line-height: 2.5;
        left: 10%;
        @include mixin.tab{
            left: 55%;
        }
    }

    &--branch-menu{
        font-size: 16px;
        font-weight: normal;
    }

    &--map{
        position: relative;
        color: #fff;
        font-family: "M+PLUS+1";
        font-size: 14px;
        margin: 0 auto;
        padding: 20px 40px 40px 40px;
        line-height: 2.5;
        height: 100%;
        z-index: 3;
        @include mixin.pc{
            font-size: 16px;
            padding: 55px 120px;
        }
    }
}

/*-------------------------
archive
--------------------------*/

.c-archive-visual__text{
    position: absolute;
    top: 0;
    padding: 160px 0 0 35px;
    color: #fff;
}

.c-subheading__text{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    color: #3C2A10;
}

.c-card__content--text{
    font-size: 16px;
    font-weight: normal;
    padding: 10px 73px 0 17px;
    color: #fff;
}