@use "../../foundation/mixin";

.c-text{
    &__sidebar--submenu{
        position: absolute;
        top: 286px;
        right: 61px;
    }

    &--items{
        padding: 40px 0;
        padding-left: 60px;
        font-family: 'M+PLUS+1';
        font-size: 20px;
        font-weight: normal;
        line-height: 2.5;
        left: 10%;
        @include mixin.tab{
            left: 55%;
        }
    }

    &--branch-menu{
        font-size: 16px;
        font-weight: normal;
    }

    &--map{
        position: relative;
        color: #fff;
        font-size: 14px;
        margin: 0 auto;
        padding: 20px 40px 40px 40px;
        line-height: 2.5;
        height: 100%;
        z-index: 3;
        @include mixin.pc{
            font-size: 16px;
            padding: 55px 120px;
        }
    }
}

/*-------------------------
archive
--------------------------*/

.c-archive-visual__text{
    position: absolute;
    top: 0;
    padding: 160px 0 0 35px;
    color: #fff;
    @include mixin.tab{
        position: relative;
        padding: 0 0 0 20px;
    }
}

.c-subheading__text{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #3C2A10;
    @include mixin.tab{
        padding-bottom: 17px;
    }
}

.c-card__content--text{
    font-size: 16px;
    font-weight: normal;
    padding: 10px 73px 0 17px;
    color: #fff;
    @include mixin.tab{
        padding: 10px 59px 0 35px;
    }
    @include mixin.pc{
        padding: 17px 100px 0 50px;
    }
}

/*-------------------------
single
--------------------------*/

.c-subheading__text--single{
    font-size: 16px;
    padding-bottom: 34px;
    font-weight: normal;
    @include mixin.tab{
        padding-bottom: 0;
    }
}

.c-quotation__text{
    font-weight: normal;
    padding: 30px 18px;
    @include mixin.tab{
        padding: 50px 55px 60px;
    }
    @include mixin.pc{
        padding: 50px 50px 60px;
    }
    &--cite{
        font-weight: normal;
        padding-bottom: 30px;
        @include mixin.tab{
            padding: 0 0 60px 55px;
        }
        @include mixin.pc{
            padding: 0 0 50px 50px;
        }    
    }
    > a{
        text-decoration: solid;
        color: initial;
    }
}

.c-card__content__text{
    font-weight: normal;
    text-indent: 1rem;
}

.p-card--first > li > p{
    grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 10px;
}

.p-card--second > li > p{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-right: 10px;
}

.c-single__text--bold{
    padding-bottom: 175px;
    @include mixin.tab{
        padding-bottom: 230px;
    }
}