@use "../../foundation/mixin";

.p-branch-menu{
    &__lists{
    @include mixin.tab{
        display: flex;
    }
    }

    &__takeout{
        display: flex;
        flex-flow: column;    
    }

    &__eatin{
        display: flex;
        flex-flow: column;    
    }
    
    &--container{
        margin-top: auto;
        color: #3C2A10;
    }
}