@use "../../foundation/mixin";

.p-sidebar--container--details{
    padding-top: 212px;
}

.p-map__container{
    position: relative;
    width: 100%;
    @include mixin.pc{
        width: 60%;
    }
}