@use "../../foundation/mixin";

/*-------------------------
archive
--------------------------*/

.p-card__content{
    position: relative;
    background-color: #3C2B1C;
    height: 100%;
    width: 100%;
    margin: 20px 0;
    @include mixin.tab{
        display: flex;
        height: 355px;
    }
    @include mixin.pc{
        height: 471px;
    }
    &--details{
        text-align: center;
    }
}


/*-------------------------
single
--------------------------*/

.p-card__content{
    &--small{
        display: grid;
        width: 100%;
    }
    &--medium{
        text-align: center;
    }   
}

.p-card--first{
    grid-template-columns: 40% 60%;
    padding-bottom: 30px;
    @include mixin.tab{
        padding-bottom: 120px;
    }
}

.p-card--second{
    grid-template-columns: 60% 40%;
    padding-bottom: 30px;
    @include mixin.tab{
        padding-bottom: 60px;
    }
}
