@use "../../foundation/mixin";

.p-pagination--sp{
    @include mixin.tab{
        display: none;
    }
    &__lists{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: normal;
        padding: 40px 20px 30px 20px;
    }
    &__list > a{
        color: #707070;
        text-decoration: none;
    }   
}

.p-pagination{
    display: none;
    font-family: 'Robot', sans-serif;
    &__list{
        &--prev{
            &::before{
                content: url(/img/pagination_prev.png);
                font-size: 30px;
                width: 17px;
                height: 17px;
                font-weight: lighter;
                margin-left: 15px;
                margin-right: 3px;
                @include mixin.pc{
                    margin-right: 0;
                }
            }
        }
        &--next{
            &::after{
                content: url(/img/pagination_next.png);
                font-size: 30px;
                width: 17px;
                height: 17px;
                font-weight: lighter;
                margin-left: 15px;
            }    
        }
    }
    @include mixin.tab{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 85px 0 30px;
        line-height: 35px;
        &__list{
            display: flex;
            justify-content: center;
            align-items: center;
            &--items{
                border: solid 1px;
                font-size: 14px;
                margin-left: 12px;
                @include mixin.pc{
                    font-size: 16px;
                    margin-left: 15px;
                }

                >a{
                    padding: 12px;
                    color: #707070;
                    text-decoration: none;
                    @include mixin.pc{
                        padding: 13px;
                    }    
                }
            }
        }
    }
    @include mixin.pc{
        padding: 130px 0 65px;
    } 
}